<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyZiyara.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
				<key>dateExpires</key>
				<string>16/03/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapViewPlus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC39A76205EE6496DBABDCE3FD52F79F4043D83D</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZLG9ZD6CR</string>
						<key>name</key>
						<string>Hussein Al-Fiadh</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VZLG9ZD6CR.com.MyZiyara</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VZLG9ZD6CR</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MyZiyara.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>da52782c-8e68-4c1c-879b-d9ecdecd6597</string>
				<key>dateExpires</key>
				<string>31/03/24</string>
				<key>name</key>
				<string>MyZiyara_ProvisionProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VZLG9ZD6CR</string>
				<key>name</key>
				<string>Hussein Al-Fiadh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
